<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link href="/webjars/bootstrap/4.6.0/css/bootstrap.css" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/jquery/3.5.1/dist/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/popper.js/2.5.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin panel</title>
</head>
<body style="background: #f8f9fa;">
<nav class="navbar navbar-expand-md navbar-dark"
     style="background-color:#0d0d25">
    <div style="color: aliceblue">
        <span sec:authentication="name" class="user"> </span>
    </div>
    <p>_</p>
    <div style="color: aliceblue"> с ролями: <span><th:block
            th:each="authority, iterStat :${#authentication.getAuthorities()}"
            th:text="${authority.getAuthority() + (iterStat.last?'':',')}">
    </th:block></span>
    </div>
    <div class="navbar-nav position-absolute" style="right: 0">
        <li><a href="/logout"
               class="nav-link nav-right">Выйти</a></li>
    </div>
</nav>
<div style="background: #6c4c4c;">
    <div class="container-fluid" style="margin-left: 15px;margin-right: 0px;padding-right: 0px;padding-left: 0px;">
        <div class="row" style="margin: 0px;margin-left: 0px;margin-right: 0px;padding-right: 0px;background: #ffffff;">
            <div class="col-md-8 col-lg-2" style="height: 100vh;background: #fffdfd;padding-left: 0px;margin: 0px;margin-left: -15px;padding-right: 0px;min-width: 0px;padding-top: 5px;"><a class="bg-primary d-lg-flex justify-content-lg-start" href="admin_page" style="color: rgb(255,255,255);border-radius: 3px;height: 35px;margin-left: 0px;padding-left: 15px;">Admin</a><a class="d-lg-flex justify-content-lg-start" href="user_page"
                                                                                                                                                                                                                                                                                                                                                                                      style="color: rgb(0,142,253);border-radius: 3px;padding-left: 15px;height: 35px;">User</a></div>
            <div class="col-md-4 col-lg-10" style="background: #eef2f5;padding-right: 0px;margin-right: 0px;margin-top: 0px;padding-left: 15px;min-width: 0px;">
                <div class="row">
                    <div class="col" style="margin-right: 15px;">
                        <h2>Панель админа</h2>
                    </div>
                </div>
                <div style="margin-right: 0px;">
                    <ul class="nav nav-tabs" role="tablist" style="margin-right: 20px;">
                        <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-toggle="tab" href="#user_table">Таблица</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#add_user">Добавить</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="user_table">
                            <div class="row" style="padding-right: 20px;margin-right: 0px;">
                                <div class="col" style="margin-right: 0px;padding-right: 0px;">
                                    <h4 style="background: #e8e8e8;height: 40px;border-radius: 3px;border: 1px solid rgb(222,226,230);margin-right: 0px;">&nbsp; Все пользователи</h4>
                                    <div class="row" style="margin-right: 0px;">
                                        <div class="col" style="background: #fffefe;margin-left: 15px;margin-top: -8px;margin-right: 0px;padding-right: 15px;">
                                            <div class="table-responsive" style="padding-left: 15px;padding-right: 15px;padding-top: 0px;margin-top: 15px;">
                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Имя</th>
                                                        <th>Фамилия</th>
                                                        <th>Возраст</th>
                                                        <th>E-mail</th>
                                                        <th>Роль</th>
                                                        <th>Ред-ть</th>
                                                        <th>Удалить</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="user : ${listUser}">
                                                        <td th:text="${user.id}"></td>
                                                        <td th:text="${user.firstName}"></td>
                                                        <td th:text="${user.lastName}"></td>
                                                        <td th:text="${user.age}"></td>
                                                        <td th:text="${user.username}"></td>
                                                        <td>
                                                            <p>
                                                                <th:block th:each="authority,iterStat : ${user.roles}">
                                                                    <th:block
                                                                            th:text="${authority.getAuthority() + (iterStat.last?'':' ')}">
                                                                    </th:block>
                                                                </th:block>
                                                            </p>
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                                                    data-target="#edit_user" th:attrappend="data-target=${user.id}">Ред-ть
                                                            </button>
                                                            <div class="modal fade" role="dialog" th:attrappend="id=${user.id}" id="edit_user">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title">Редактирование пользователя</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                                                                        <div class="modal-body">
                                                                            <form th:action="@{/admin/save}" method="post" action="submit">
                                                                                <div class="col-lg-5 offset-lg-3 m-auto" style="width: 350px;padding-left: 15px;margin-left: 150px;">
                                                                                    <div class="form-group text-center">
                                                                                        <label style="width: 250px;"><strong>ID</strong><input id="id" path="id" name="id" th:value="${user.id}" class="form-control form-control-sm" type="text" readonly=""></label>
                                                                                        <label style="width: 250px;"><strong>Имя</strong><input id="firstName" path="firstName" name="firstName" th:value="${user.firstName}" class="form-control form-control-sm" type="text"></label>
                                                                                        <label style="width: 250px;"><strong>Фамилия</strong><br><input id="lastName" path="lastName" name="lastName" th:value="${user.lastName}" class="form-control form-control-sm" type="text"></label>
                                                                                        <label style="width: 250px;"><strong>Возраст</strong><br><input id="age" path="age" name="age" th:value="${user.age}" class="form-control form-control-sm" type="text"></label>
                                                                                        <label style="width: 250px;"><strong>E-mail</strong><br><input id="username" path="username" name="username" th:value="${user.username}" class="form-control form-control-sm" type="text"></label>
                                                                                        <label style="width: 250px;margin-bottom: 0px;height: 70px;padding-top: 0px;padding-bottom: 0px;margin-top: 0px;"><strong>Пароль</strong><input id="password" path="password" name="password" th:value="${user.password}" class="form-control form-control-sm" type="password"><br></label>
                                                                                        <label style="width: 250px;padding-top: 0px;margin-top: -15px;"><strong>Роль</strong><br><br>
                                                                                            <select id="roles" path="roles" name="roles" th:value="${user.roles}" class="form-control" multiple="" style="height: 50px;padding-top: 6px;padding-bottom: 6px;margin-top: -20px;">
                                                                                                <option th:each="role : ${roleSet}" th:value="${role.name}" th:text="${role.name}"></option>
                                                                                            </select>
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="modal-footer"><button class="btn btn-secondary" type="button" data-dismiss="modal">Закрыть</button><button class="btn btn-primary" type="submit">Сохранить изменения</button></div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                                                    data-target="#delete_user" th:attrappend="data-target=${user.id}">Удалить
                                                            </button>
                                                            <div class="modal fade" role="dialog" th:attrappend="id=${user.id}" id="delete_user">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title">Удаление пользователя</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                                                                        <div class="modal-body">
                                                                            <form method="get" action="submit">
                                                                                <div class="col-lg-5 offset-lg-3 m-auto" style="width: 350px;padding-left: 15px;margin-left: 150px;">
                                                                                    <div class="form-group text-center">
                                                                                        <label style="width: 250px;"><strong>ID</strong><input th:value="${user.id}" class="form-control form-control-sm" type="text" readonly=""></label>
                                                                                        <label style="width: 250px;"><strong>Имя</strong><input th:value="${user.firstName}" class="form-control form-control-sm" type="text" readonly=""></label>
                                                                                        <label style="width: 250px;"><strong>Фамилия</strong><br><input th:value="${user.lastName}" class="form-control form-control-sm" type="text" readonly=""></label>
                                                                                        <label style="width: 250px;"><strong>Возраст</strong><br><input th:value="${user.age}" class="form-control form-control-sm" type="text" readonly=""></label>
                                                                                        <label style="width: 250px;"><strong>E-mail</strong><br><input th:value="${user.username}" class="form-control form-control-sm" type="text" readonly=""></label>
                                                                                        <label style="width: 250px;margin-bottom: 0px;height: 70px;padding-top: 0px;padding-bottom: 0px;margin-top: 0px;"><strong>Пароль</strong><input th:value="${user.password}" class="form-control form-control-sm" type="password" readonly=""><br></label>
                                                                                        <label style="width: 250px;padding-top: 0px;margin-top: -15px;"><strong>Роль</strong><br><br>
                                                                                            <select id="roles" path="roles" name="roles" th:value="${user.roles}" readonly="" class="form-control" multiple="" style="height: 50px;padding-top: 6px;padding-bottom: 6px;margin-top: -20px;">
                                                                                                <option th:each="role : ${user.roles}" th:value="${role.name}" th:text="${role.name}"></option>
                                                                                            </select>
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="modal-footer"><button class="btn btn-secondary" type="button" data-dismiss="modal">Закрыть</button><a th:href="|@{'/admin/delete?id='+${user.id}}|" class="btn btn-danger">Удалить</a></div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>

                                                    </tr>


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="tab-pane" role="tabpanel" id="add_user">
                            <div class="row" style="padding-right: 20px;margin-right: 0px;">
                                <div class="col" style="margin-right: 0px;padding-right: 0px;">
                                    <h4 style="background: #e8e8e8;height: 40px;border-radius: 3px;border: 1px solid rgb(222,226,230);margin-right: 0px;">&nbsp; Добавить пользователя</h4>
                                    <div class="row" style="margin-right: 0px;">
                                        <div class="col" style="background: #fffefe;margin-left: 15px;margin-top: -8px;margin-right: 0px;padding-right: 15px;">
                                            <form th:action="@{/admin/save}" th:object = "${user}" method="post" action="submit">
                                                <div class="col-lg-5 offset-lg-3 m-auto" style="width: 350px;padding-left: 15px;margin-left: 150px;">
                                                    <div class="form-group text-center">
                                                        <label style="width: 250px;"><strong>Имя</strong><input th:field= "*{firstName}" class="form-control form-control-sm" type="text"></label>
                                                        <label style="width: 250px;"><strong>Фамилия</strong><br><input th:field= "*{lastName}" class="form-control form-control-sm" type="text"></label>
                                                        <label style="width: 250px;"><strong>Возраст</strong><br><input th:field= "*{age}" class="form-control form-control-sm" type="text"></label>
                                                        <label style="width: 250px;"><strong>E-mail</strong><br><input th:field= "*{username}" class="form-control form-control-sm" type="text"></label>
                                                        <label style="width: 250px;margin-bottom: 0px;height: 70px;padding-top: 0px;padding-bottom: 0px;margin-top: 0px;"><strong>Пароль</strong><input th:field= "*{password}" class="form-control form-control-sm" type="password"><br></label>
                                                        <label style="width: 250px;padding-top: 0px;margin-top: -15px;"><strong>Роль</strong><br><br>
                                                            <select id="roles" path="roles" name="roles" th:value="${user.roles}" class="form-control" multiple="" style="height: 50px;padding-top: 6px;padding-bottom: 6px;margin-top: -20px;">
                                                                <option th:each="role : ${roleSet}" th:value="${role.name}" th:text="${role.name}"></option>
                                                            </select>
                                                        </label>
                                                        <button
                                                                class="btn btn-success" type="submit">Добавить пользователя</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>