<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <h1 align="center"> Редактирование пользователя</h1>
    <meta charset="utf-8" />
</head>
<body>
<form align="center" action="#" th:action="@{/admin/save}" th:object="${user}" method="post">
    <p><input type="hidden" th:field="*{id}" /></p>

    <p><label for="name">Имя</label></p>
    <p><input type="text" th:field="*{name}" id="name" value="name" required></p>

    <p><label for="password">Пароль</label></p>
    <p><input type="password" th:field="*{password}" id="password" value="password"></p>

    <p><label for="lastName">Фамилия</label></p>
    <p><input type="text" th:field="*{lastName}" id="lastName" value="lastName"></p>

    <p><label for="age">Возраст</label></p>
    <p><input type="number" th:field="*{age}" id="age" value="age"></p>

            <li th:each="role : ${roles}">
                <input type="checkbox" name="roles" th:value="${role.name}"
                       th:text="${role.name}" />
            </li>


    <p>
        <input type="submit" value="Редактировать">
    </p>

</form>
<p>
<form align="center" th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>
</p>
</body>
</html>