<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8" />
    <h1 align="center">Добавление пользователя</h1>
</head>
<body>
<form align="center" th:action="@{/admin/save}" method="post">
    <p><label for="name">Имя</label></p>
    <p><input type="text" id="name" name="name" required></p>
    <p><label for="password">Пароль</label></p>
    <p><input type="password" id="password" name="password"></p>
    <p><label for="lastName">Фамилия</label></p>
    <p><input type="text" id="lastName" name="lastName"></p>
    <p><label for="age">Возраст</label></p>
    <p><input type="number" id="age" name="age"></p>
    <p>
        <input type="submit" value="Добавить">
    </p>
</form>
<p>
<form align="center" th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>
</p>
</body>
</html>