<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<table border="1" align="center">
    <thead>
    <h2 align="center">Список пользователей</h2>
    </thead>
    <tbody>
    <tr>
        <th>id</th>
        <th>Имя</th>
        <th>Пароль</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Действие</th>
    </tr>
    <tr th:each="user : ${listUsers}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:password="${user.password}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td>
            <a th:href="@{'/admin/edit?id='+${user.id}}">edit</a>
            <a th:href="@{'/admin/delete?id='+${user.id}}">delete</a>
        </td>
    </tr>
    </tbody>
</table>
<p style="text-align: center;"> <a th:href="@{'/admin/newUser'}"> Добавить пользователя</a></p>

<p>
<form align = "center" th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>
</p>
</body>
</html>